<%- include('../../shared/includes/head', { pageTitle: 'Success!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order Successful</h1>
    <p>Order Placed!</p>
  </main>
<%- include('../../shared/includes/footer') %>